<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--realm验证授权的bean-->
    <bean id="customRealm" class="com.community.realm.CustomRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
            </bean>
        </property>
    </bean>



    <bean id="rememberMe" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie">
            <!--cookie-->
            <bean  class="org.apache.shiro.web.servlet.SimpleCookie">
                <property name="name" value="cookie"/>
                <property name="maxAge" value="30"/>
            </bean>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="customRealm"/>
            </list>
        </property>

        <property name="rememberMeManager" ref="rememberMe"/>
    </bean>

    <bean id="lifeCycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="unauthorizedUrl" value="/error.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /login.jsp = anon
                /logout = logout
                /static/** = anon

            </value>
        </property>
    </bean>
</beans>