<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--realm验证授权的bean-->
    <bean id="customRealm" class="com.community.realm.CustomRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
            </bean>
        </property>
    </bean>
    <bean id="directRealm" class="com.community.realm.DirectRealm"/>

    <bean id="rememberMe" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie">
            <!--cookie-->
            <bean  class="org.apache.shiro.web.servlet.SimpleCookie">
                <property name="name" value="cookie"/>
                <property name="maxAge" value="30"/>
            </bean>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="customRealm"/>
                <ref bean="directRealm"/>
            </list>
        </property>
        <property name="rememberMeManager" ref="rememberMe"/>
    </bean>

    <bean id="lifeCycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--自定义拦截器-->
    <bean id="weChatOfAuthentication" class="com.community.filter.WeChatOfAuthentication"/>
    <bean id="weChatOfAuthority" class="com.community.filter.WeChatOfAuthority"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filters">
            <map>
                <entry key="weChatAuthc" value-ref="weChatOfAuthentication"/>
                <entry key="weChatRole" value-ref="weChatOfAuthority"/>
            </map>
        </property>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="unauthorizedUrl" value="/authority"/>
        <property name="filterChainDefinitions">
            <value>
                /login.jsp = anon
                /getOpenId = anon
                /validateUser = anon
                /bindWeChat = anon
                /registerByWeChat = anon
                /weChatByLogin = anon
                /logout = logout
                /static/** = anon
                /** = weChatAuthc
            </value>
        </property>
    </bean>
</beans>